<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Leitores</h2>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Número</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tbody>
            <% if @readers.empty? %>
              <tr>
                <td colspan="12" class="text-center">
                  <h3>Nenhum Leitor cadastrado.</h3>
                </td>
              </tr>
            <% end %>
            <% @readers.each do |reader| %>
              <td><%= reader.id %></td>
              <td><%= reader.name %></td>
              <td><%= reader.email %></td>
              <td><%= reader.phone %></td>
              <td><%= link_to 'Detalhes', reader, class: 'button' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
